<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css" type="text/css" th:href="@{css/index.css}">
    <title>GEA systems.</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#aboutUs">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#register">Register</a>
        </li>
    </ul>
</nav>
<div class="hero-image" id="home">
    <div class="hero-text">
        <h1 class="display-1">Electricity and gas prediction</h1>
        <form action="#" th:action="@{/predict}" th:object="${metersAndType}" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="squareMeters">Square meters</label>
                    <input type="number" class="form-control" th:field="*{sqm}" id="squareMeters">
                </div>
                <div class="form-group col-md-4">
                    <label for="buildingType">Type of building</label>
                    <select id="buildingType" th:field="*{type}" class="form-control">
                        <option th:value="factory">Factory</option>
                        <option th:value="house">House</option>
                        <option th:value="appartment">Apartment</option>
                        <option th:value="studio">Studio</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn bg-light">Calculate</button>
        </form>
        <div class="expectedDiv">
            <p th:text="'Expected gas: ' + ${expectedGas}" />
            <p th:text="'Expected electricity: ' + ${expectedElectricity}" />
        </div>
    </div>
</div>

<div class="jumbotron" id="aboutUs">
    <h1 class="display-4">About us!</h1>
    <p class="lead">
        Our company is a small business that specializes in installing home equipment that helps you monitor
        your utilities our data is open to the public and you can predict your monthly consumptions using
        the tool above.
    </p>
    <hr class="my-4">
    <h1 id="register">Register</h1>
    <form action="#" th:action="@{/client}" th:object="${client}" method="post">
        <div class="form-group">
            <label for="inputAddress">Physical address</label>
            <input type="text" class="form-control" id="inputAddress" th:field="*{address}" placeholder="Enter your address">
        </div>
        <div class="form-group">
            <label for="zipCode">Zip Code</label>
            <input type="text" class="form-control" id="zipCode" th:field="*{zip}" placeholder="Enter your zip code">
        </div>
        <div class="form-group">
            <label for="squareMetersRegister">Square meters</label>
            <input type="number" class="form-control" id="squareMetersRegister" th:field="*{sqm}" placeholder="Square meters of your building">
        </div>
        <div class="form-group">
            <label for="connectAddress">Connect Address + port</label>
            <input type="text" class="form-control" id="connectAddress" th:field="*{connectAddress}" placeholder="127.0.0.1:8080">
        </div>
        <div class="form-group">
            <label for="buildingType">Building Type</label>
            <select class="form-control" th:field="*{buildingType}" id="buildingTypeRegister">
                <option th:value="factory">Factory</option>
                <option th:value="house">House</option>
                <option th:value="appartment">Appartment</option>
                <option th:value="studio">Studio</option>
            </select>
        </div>
        <button type="submit" class="btn bg-light">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>